<!DOCTYPE html>
<html>
  <head>
    <!-- Basic Page Needs ––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>RedMart App</title>

    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
  <!-- Primary Page Layout ––––––––––––––––––– -->
    <div class="container">
      <h1>Welcome to RedMart</h1>
      <ul>
        <li><a href="/users">Users</a></li>
        <li><a href="/users/new">Register</a></li>
      </ul>
      <%= yield %>
    </div>

    <script src="js/script.js" charset="utf-8"></script>
  <!-- End Document ––––––––––––––––––– -->
  </body>
</html>
