<!DOCTYPE html>
<html>
  <head>
    <!-- Basic Page Needs ––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>RedMart App</title>

    <!-- Skeleton CSS -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link rel="stylesheet" href="<%= url("css/style.css") %>">
  </head>
  <body>
  <!-- Primary Page Layout ––––––––––––––––––– -->
      <h1>Welcome to RedMart</h1>
      <nav class="navbar">
        <ul>
          <li><a href="/users">View Users</a></li>
          <li><a href="/users/new">Register</a></li>
          <li><a href="/products">Products</a></li>
        </ul>
      </nav>

      <%= yield %>

    <script src="<%= url("js/script.js") %>" charset="utf-8"></script>
  <!-- End Document ––––––––––––––––––– -->
  </body>
</html>
