body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  color: #ee4054;
  font-size: 2em;
}

.navbar {
  background-color: #ee4054;
}

.navbar > ul > li {
  display: inline-block;
  margin: 1%;
}

.navbar > ul > li > a {
  font-size: 0.9em;
  color: white;
  text-decoration: none;
}

#button-delete {
  background-color: #ee4054;
  color: #FFF;
}

/*img {
  background: #ee4054;
}*/
