<h3>Register Here!</h3>

<form action="/users" method="post">

  <div class="form-group">
    <input id = "name" type="text" name="user[name]" placeholder="Username">
  </div>

  <div class="form-group">
    <label>
      <input type="text" name="user[email]" placeholder="Email Address">
    </label>
  </div>

  <div class="form group">
      <label>
        <input type="text" name="user[address]" placeholder="Address">
      </label>
  </div>

  <div class="form group">
      <label>
        <input type="password" name="user[password]" placeholder="Password">
      </label>
  </div>

  <input type="submit" value="Register">
</form>
